* {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

.wrapper {
  display: grid;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: #95ccc1;
  grid-template-rows: 1fr auto;
  justify-items: center;
}

form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60vw, 1fr));
}

label {
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 16px;
}

input,
select {
  padding: 4px;
  border: none;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.288);
  font-size: 19px;
}

footer {
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 16px;
  padding: 16px;
  color: rgb(12, 12, 12);
}

footer > a {
  color: rgb(12, 12, 12);
}

input[type='submit'] {
  width: 50%;
  margin: 42px auto 0;
}

input[type='submit']:hover {
  background-color: rgba(0, 0, 0, 0.582);
  font-size: 15px;
  padding: 7px;
}

input[type='submit']:active {
  background-color: rgba(0, 0, 0, 0.137);
  padding: 7px;
  font-size: 14px;
}

.invalid {
  border: #f50076 solid 2px;
  padding: 2px;
}

.valid {
  border: #f5e036 solid 2px;
  padding: 2px;
}
select {
  margin-bottom: 20px;
}

form > p {
  margin-bottom: 8px;
  color: #f50076;
  font-size: 14px;
  visibility: hidden;
}
